<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Manrope-Bold.ttf</string>
		<string>Manrope-Medium.ttf</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>BikeStationsApp uses your location information to show the distance to the station</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>BikeStationsApp uses your location information to show the distance to the station</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
